
/*
 * ZEN STYLES
 *
 * This is an example stylesheet. Sub-themes should NOT include the zen/zen.css
 * file, but instead copy this CSS to their own stylesheets.
 *
 * In this stylesheet, we have included all of the classes and IDs from this
 * theme's tpl.php files. We have also included many of the useful Drupal core
 * styles to make it easier for theme developers to see them.
 *
 * Many of these styles are over-riding Drupal's core stylesheets, so if you
 * remove a declaration from here, the styles may still not be what you want
 * since Drupal's core stylesheets are still styling the element. See the
 * drupal6-reference.css file for a list of all Drupal 5.x core styles.
 *
 * In addition to the style declarations in this file, other Drupal styles that
 * you might want to override or augment are those for:
 *
 *   Book Navigation  See line 74  of Zen's drupal6-reference.css file
 *   Forum            See line 197 of Zen's drupal6-reference.css file
 *   Menus            See line 667 of Zen's drupal6-reference.css file
 *   News Aggregator  See line 20  of Zen's drupal6-reference.css file
 *   Polls            See line 287 of Zen's drupal6-reference.css file
 *   Search           See line 320 of Zen's drupal6-reference.css file
 *   User Profiles    See line 945 of Zen's drupal6-reference.css file
 */


/** body **/
  body
  {
    margin: 0;
    padding: 0px;
	font: 12px  "Trebuchet MS", Verdana, sans-serif;
	color: #666666;
	background: #FFFFFF;
  }
 a{
 color:#B54D2A;
 text-decoration:none;
 } 
a:hover{
 color:#07486C;
 text-decoration:underline;
 }   
  

  #page
  {background:url(images/header.jpg) no-repeat center top; 
	width:930px;
	margin:auto; 
	border-top: solid 8px #efefef;
  }

  #page-inner
  {
  }

/** header **/
  #header
  {
  height:128px;
  }

  #header-inner
  {
  }

  #logo-title /* Wrapper for logo, website name, and slogan */
  {	padding:40px 0px 0px 25px;
  }

  #logo /* Wrapper for logo */
  {
    margin: 0 10px 0 0;
    padding: 0;
  }

  #logo-image /* The actual logo image */
  {
  }

  h1#site-name, div#site-name /* The name of the website */
  {
    margin: 0;
    font-size: 2em;
	display:block;
	color: #808040;
	font: bolder small-caps 22px "Trebuchet MS", Verdana, sans-serif;
  }

  #site-name a
  {color:#003300;
   text-decoration:none;
  }
  #site-name a:visited
  {	color:#003300;
	text-decoration:none;
    
  }

  #site-name a:hover
  {
    text-decoration: underline;
  }

  #site-slogan /* The slogan (or tagline) of a website */
  {
		color:#B54D2A;
		display:block;
		font-size:1.2em;
		font-variant:normal;
		font-weight:bold;
  }

  #header-blocks /* Wrapper for any blocks placed in the header region */
  {
  }

/** main (container for everything else) **/
  #main
  {
  padding:0 38px 25px 38px;
  }

  #main-inner
  {
 
  }

/** content **/
  #content
  {
  }

  #content-inner
  {
  }

  #mission /* The mission statement of the site (displayed on homepage) */
  {
  	font-size:1.3em;
	padding:10px 5px;
	color:#900927;
	margin-bottom:5px;
	border-right:none;
	border-left:none;
	background:#eff6fc;
  }

  #content-top /* Wrapper for any blocks placed in the "content top" region */
  {
  }

  #content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */
  {
  }

  .breadcrumb /* The path to the current page in the form of a list of links */
  {
    padding-bottom: 0; /* Undo system.css */
  }

  h1.title, /* The title of the page */
  h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
  h3.title /* Comment title */
  {
    margin: 0;
	font: normal 1.8em "Trebuchet MS", Verdana, sans-serif;
	color: #808040;
	
	
  }

  div.messages /* Important messages (status, warning, and error) for the user */
  {
  }

  div.status /* Normal priority messages */
  {
  }

  div.warning, tr.warning /* Medium priority messages */
  {
    /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
  }

  div.error, tr.error /* High priority messages. See also the .error declaration below. */
  {
  }

  div.tabs /* See also the tabs.css file. */
  {
  }

  .help /* Help text on a page */
  {
    margin: 1em 0;
  }

  .more-help-link /* Link to more help */
  {
    font-size: 0.85em;
    text-align: right;
	
  }

  #content-area /* Wrapper for the actual page content */
  {
  }

  .pager /* A list of page numbers when more than 1 page of content is available */
  {
    clear: both;
    margin: 1em 0;
    text-align: center;
  }

  .pager a, .pager strong.pager-current
  {
    padding: 0.5em;
  }

  .feed-icons /* The links to the RSS or Atom feeds for the current list of content */
  {
    margin: 1em 0;
  }

  #content-bottom /* Wrapper for any blocks placed in the "content bottom" region */
  {
  }

/** navbar **/
  #navbar
  {
  display:none;
  }

  #navbar-inner
  {
  }

  #search-box /* Wrapper for the search form */
  {
  	margin-right:0px;
	margin-bottom:10px;
	float:none;
  }

  #edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */
  {
    display: none;
  }

  #primary /* Primary links */
  {
  margin-left:0px;
  float:right;
  width:100%;
  }

  #secondary /* Secondary links */
  {
  }

/** sidebar-left **/
  #sidebar-left
  {

  width:230px;
  margin:0px 0px 10px 0; padding-top:45px;
  }

  #sidebar-left-inner
  {
  }

/** sidebar-right **/
  #sidebar-right
  {
  }

  #sidebar-right-inner
  {
  }

/** footer **/
  #footer
  {
  background:url(images/footer.jpg) bottom no-repeat; 
  padding-bottom:25px;

  }

  #footer-inner
  {  height:115px;
  }

#footer-inner .content{
	text-align:center;
	}

  #footer-message /* Wrapper for the footer message from Drupal's "Site information"
                     and for any blocks placed in the footer region */
  {
	 padding:30px 30px 20px 240px;
	text-align:left;
  
  }

/** closure **/
  #closure-blocks /* Wrapper for any blocks placed in the closure region */
  {
  }

/** Drupal nodes **/
  .node /* Node wrapper */
  {
  	
  }

  .node-inner /* Additional wrapper for node */
  {
  }

  .sticky /* A sticky node (displayed before others in a list) */
  {
  }

  .node-unpublished /* Unpublished nodes */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
  .comment-unpublished div.unpublished
  {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; /* A very nice CSS3 property */
  }

  .node-mine /* A node created by the current user */
  {
  }

  .node-teaser /* A node displayed as teaser */
  {
  margin-bottom:1em;
   border-bottom:1px dashed #CCCCCC;
   float:left;
   padding-bottom:1em;
   width:100%;
  }

  /* All nodes are given a node-type-FOO class that describes the type of
   * content that it is. If you create a new content type called
   * "my-custom-type", it will receive a "node-type-my-custom-type" class.
   */
  .node-type-page /* Page content node */
  {
 
  }

  .node-type-story /* Story content node */
  {
  }

  .node h2.title /* Node title */
  {
  }

  .marker /* "New" or "Updated" marker for content that is new or updated for the current user */
  {
    color: #c00;
  }

  .node .picture /* The picture of the node author */
  {
  }

  .node.node-unpublished .picture,
  .comment.comment-unpublished .picture
  {
    position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
  }

  .node .meta /* Wrapper for submitted and terms data */
  {
  }

  .node .submitted /* The "posted by" information */
  {
  }

  .node .terms /* Node terms (taxonomy) */
  {
  }

  .node .content /* Node's content wrapper */
  {
  }

  .node div.links /* Wrapper for node links */
  {
    margin: 1em 0;
  }

  ul.links /* Taxonomy links, node links, comment links */
  {
    
  }

  ul.links.inline
  {
    display: inline;
  }

  ul.links li
  {
    
	
  }

  .preview .node /* Preview of the content before submitting new or updated content */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal comments **/
  #comments /* Wrapper for the list of comments and its title */
  {
    margin: 1em 0;
  }

  #comments-title /* Heading for the list of comments */
  {
  }

  .comment /* Wrapper for a single comment */
  {
  }

  .comment-inner /* Additional wrapper for a single comment */
  {
  }

  .comment-preview /* Preview of the comment before submitting new or updated comment */
  {
  }

  .comment.new /* A new comment since the user last viewed the page. */
  {
  }

  .comment.odd /* An odd-numbered comment in the list of comments */
  {
  }

  .comment.even /* An even-numbered comment in the list of comments */
  {
  }

  .comment.first /* The first comment in the list of comments */
  {
  }

  .comment.last /* The last comment in the list of comments */
  {
  }

  .comment-unpublished /* Unpublished comments */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */
  {
  }

  .comment-published /* Published comments */
  {
  }

  .comment-by-anon /* A comment created by an anonymous user */
  {
  }

  .comment-by-author /* A comment created by the node's author */
  {
  }

  .comment-mine /* A comment created by the current user */
  {
  }

  .comment h3.title /* Comment title */
  {
  }

  .new /* "New" marker for comments that are new for the current user */
  {
    color: #c00;
  }

  .comment .picture /* The picture of the comment author */
  {
  }

  .comment .submitted /* The "posted by" information */
  {
  }

  .comment .content /* Comment's content wrapper */
  {
  }

  .comment .user-signature /* The user's signature */
  {
  }

  .comment div.links /* Wrapper for comment links. See also the ul.links declaration in the node section above. */
  {
    margin: 1em 0;
  }

  .indented /* Nested comments are indented */
  {
    /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
  }

  .preview .comment /* Preview of the comment before submitting new or updated comment */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal blocks **/
  .block /* Block wrapper */
  {
    margin-bottom: 1em;
  }

  .block.region-odd /* Zebra striping for each block in the region */
  {
  }

  .block.region-even /* Zebra striping for each block in the region */
  {
  }

  .block.odd /* Zebra striping independent of each region */
  {
  }

  .block.even /* Zebra striping independent of each region */
  {
  }

  .region-count-1 /* Incremental count for each block in the region */
  {
  }

  .count-1 /* Incremental count independent of each region */
  {
  }

  .block-inner /* Additional wrapper for block */
  {	text-align:center;
  }

  .block h2.title /* Block title */
  {
  font: normal 1.6em "Trebuchet MS", Verdana, sans-serif;
	color: #808040;
  }

  .block .content /* Block's content wrapper */
  {
  text-align:left;
  }

  #block-aggregator-category-1 /* Block for the latest news items in the first category */
  {
  }

  #block-aggregator-feed-1 /* Block for the latest news items in the first feed */
  {
  }

  #block-block-1 /* First administrator-defined block */
  {
  }

  #block-blog-0 /* "Recent blog posts" block */
  {
  }

  #block-book-0 /* "Book navigation" block for the current book's table of contents */
  {
  }

  #block-comments-0 /* "Recent comments" block */
  {
  }

  #block-forum-0 /* "Active forum topics" block */
  {
  }

  #block-forum-1 /* "New forum topics" block */
  {
  }

  #block-menu-2 /* "Primary links" block */
  {
  }

  #block-node-0 /* "Syndicate" block for primary RSS feed */
  {
  }

  #block-poll-0 /* "Most recent poll" block */
  {
  }

  #block-profile-0 /* "Author information" block for the profile of the page's author */
  {
  }

  #block-search-0 /* "Search form" block */
  {
  }

  #block-statistics-0 /* "Popular content" block */
  {
  }

  #block-user-0 /* "User login form" block */
  {
  padding-left:15px;
  }

  #block-user-1 /* "Navigation" block for Drupal navigation menu */
  {
  }

  #block-user-2 /* "Who's new" block for a list of the newest users */
  {
  }

  #block-user-3 /* "Who's online" block for a list of the online users */
  {
  }

/** Drupal boxes **/
  /* Wrapper for Comment form, Comment viewing options, Menu admin, and
   * Search results.
   */
  .box /* Wrapper for box */
  {
  }

  .box-inner /* Additional wrapper for box */
  {
  }

  .box h2.title /* Box title */
  {
  }

  .box .content /* Box's content wrapper */
  {
  }

/** Miscellaneous Drupal styles **/
  .error /* Errors that are separate from div.messages status messages (see above.) */
  {
    /* color: #e55; */ /* Drupal core uses a #e55 background */
  }

  .warning /* Warnings that are separate from div.messages status messages (see above.) */
  {
    /* color: #e09010; */ /* Drupal core uses a #e09010 background */
  }

  .more-link /* Aggregator, blog, and forum more link */
  {
    text-align: right;
  }

  #user-login-form /* Drupal's default login form */
  {
    text-align: left;
  }

  tr.even /* Some tables have rows marked even or odd. */
  { background:#f6fafd;
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  tr.odd
  { background:#ddebf8;
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  li a.active /* The active item in a Drupal menu */
  {
    color: #000;
  }


/** Drupal forms **/
  .form-item, /* Wrapper for a form element (or group of form elements) and its label */
  .form-checkboxes,
  .form-radios
  {
    margin: 1em 0;
  }

  .form-item input.error, /* Highlight the form elements that caused a form submission error */
  .form-item textarea.error,
  .form-item select.error
  {
    border: 2px solid #c00;
  }

  .form-item label /* The label for a form element */
  {
    display: block;
    font-weight: bold;
	color:#B54D2A;
  }

  .form-item label.option /* The label for a radio button or checkbox */
  {
    display: inline;
    font-weight: normal;
  }

  .form-required /* The part of the label that indicates a required field */
  {
    color: #c00;
  }

  .form-item .description /* The descriptive help text (separate from the label) */
  {
    font-size: 0.85em;
  }

  .form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
  .form-radios .form-item
  {
    margin: 0.4em 0;
  }

  .form-submit /* The submit button */
  {
  background:url(images/menu4.jpg) repeat-x;/*:url(images/menu4.jpg) repeat-x;*/
  border:1px solid #e7ab19;
  color:#783411;
  }

  .container-inline div, .container-inline label /* Inline labels and form divs */
  {
   /* display: inline;*/
   text-align:left;
  }

  .tips /* Tips for Drupal's input formats */
  {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }

/** OpenID **/
  /* The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
  #user-login-form ul /* OpenID creates a new ul above the login form's links. */
  {
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  }

  #user-login-form li.openid-link, /* The "Log in using OpenID" links. */
  #user-login li.openid-link
  {
    margin-top: 1em;
    margin-left: -20px; /* Un-do some of the padding on the ul list. */
  	padding-left: 20px;
  	background-position: left center;
  }

  #user-login-form li.user-link, /* The "Cancel OpenID login" links. */
  #user-login li.user-link
  {
    margin-top: 1em;
  	list-style-type: disc;
  	list-style-position: outside;
  }

  #user-login li.openid-link, /* The OpenID links on the /user form. */
  #user-login li.user-link
  {
    margin-left: -2em; /* Un-do all of the padding on the ul list. */
  }

/** Drupal admin tables **/
  /* We overrode these styles in html-elements.css, but restore them for the
   * forms on the site.
   */
  form tbody
  {
    border-top: 1px solid #ccc;
  }

  form th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }

  form tbody th
  {
    border-bottom: 1px solid #ccc;
  }

  form thead th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }
  
  
  
  
#skip-to-nav {
	display:none;
	font-size:0px;
	margin:0px;}
  

/* ----------------------------------- Primary Links -------------------------------------- */
#primary ul
{
	margin: 0;
    padding: 0;
	text-align:center; 
	display:block; 
	float:right;
	margin-right:250px;
}

#primary ul li{

	display: inline;
    list-style-type: none;
  	margin:0px;
	padding:0px;
	float:left;
}

#primary ul li a , #primary ul li a:hover , #primary ul li a.active
	{display:block; 
	float:left; 
	height:21px; 
	padding: 5px 15px 0 15px; 
	text-decoration:none; 
	color:#000000;
	background:none;}
	
#primary ul li a:hover , #primary ul li a.active
	{ background: url(images/menu5.jpg) repeat-x bottom;}


#content{
/*float:right;*/
	padding:45px 0 0;
	width:/*475px;*/620px;
}

.block ul
	{
	list-style:none;
	margin:0px;
	padding:0px;
	 margin-bottom:15px;
	}

.block ul li
	{
	 
	margin:0px;
	padding:0px;
	border-bottom:dashed 1px #CCCCCC;
	list-style:none;
	/*list-style-image:url(images/petal.jpg);*/
	font-size:14px;
	list-style-position:inside;
	list-style-type:none;
	list-style-image:none;
	}
	
.block ul li a , .block ul li a:hover 
	{	
	display:block; 
	height:20px; 
	padding:6px 5px;
	padding-left:15px;
	color:#003300;
	text-decoration:none;
	list-style:none;
	}
	
	
	
.block ul li a:hover 
	{background:#efefef;
	 text-decoration:none;
	 border-left:2px solid #003300;
	 padding-left:13px;}


.block ul li ul
	{
	
	padding-left:10px;
	 
	}
.block ul li.expanded{
	border-bottom:none;
}
.block ul li.expanded li.first{
	border-top:1px dashed #ccc;
	}

.block ul li.expanded li a{
	color:#666666;
	}

.block ul li.expanded li ul li a , .block ul li.expanded li a:hover{
	color:#B54D2A;
	
	}
.block ul li.expanded li a:hover
{
border-left:2px solid #B54D2A;
}

.block ul li.expanded li ul li a:hover, .block ul li.expanded li ul li a.active{
	color:#003300;
}

.block ul li.expanded li ul li a:hover{
border-left:2px solid #003300;
}
#btm_cont 
	{padding:5px 45px 30px 45px; 
	background:url(images/bottomend.jpg) no-repeat center bottom; }	
	
#page{
	font-size:1em;
	}	

div.admin .right{
	*margin:0px;
	}

#forum table{
	width:100%;
	}	
	
.front #content{
	/*width:100%;*/}	
	
#col_1 h2 , #col_2 h2 , #col_3 h2 
	{
		background:url(images/heading.jpg) no-repeat;
	    height:18px;
		margin-bottom:5px;
		padding:2px 5px 3px 8px;
		font-size:1.3em;
		font-weight:bold;
	}	
	
#col_2 h2 {background:url(images/heading1.jpg) no-repeat;}
#col_3 h2 {background:url(images/heading3.jpg) no-repeat; }	
	
#col_1-inner , #col_2-inner , #col_3-inner	
	{
	line-height:18px;
	padding:0px;
}

#col_1 p , #col_2 p , #col_3 p
	{
	margin:0px;
	text-align:justify;
	vertical-align:top;
	} 


.linkbutton {
	display:block; 
	background:url(images/button1.jpg) no-repeat; 
	width:79px;
    height:22px;
	text-align:right; 
	padding:5px 20px 0 5px; }
	
.linkbutton:hover 
	{background:url(images/button3.jpg) no-repeat;}

#col_1 
	{width:32%; 
	float:left; 
	}
	
#col_2 
	{
	  
	  width:32%;
	  margin:0;
	  float:left;}
	  
#col_3 
	{width:32.5%;
	 float:right;
	}	
	
 #col_2-inner ,  #col_1-inner 
	{
	margin-right:10px;

	}
	
#col_1 {
	margin-right:15px;
	}	
	
#col_1 img , #col_2 img , #col_3 img
	{	
	background:#EFEFEF none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	padding:3px;
	float:left;
	margin-right:3px;
	}
	
#col_1 .content , #col_2 .content , #col_3 .content
	{
	padding:0px 5px;
	}